@page
@model cafefinder.Pages.searchModel
@{
}

<main>
    <h1>نتایج جستجو برای: @Model.s</h1>
    <!-- نتایج جستجو به صورت داینامیک از پایگاه داده دریافت شود -->

    <div class="products">




        @foreach (var top in Model.BYS)
        {
            <div class="product-item">
                <img src="data:image/png;base64,@top.Photo.FirstOrDefault().Value" />
                <h3>@top.Name</h3>
                <p>@top.Neighborhood</p>

                @{
                    float star = 0;
                    foreach (var _star in top.StarRating?.Select(prop => prop.Value))
                        star += _star;
                    star = star / top.StarRating.Count;
                    if (float.IsNaN(star)) { star = 0; }
                }
                <div class="rating">@star </div>
                <a asp-page="./Details" asp-route-id="@top.Id">مشاهده</a> |
            </div>



        }


    </div>
</main>
