@page
@model cafefinder.Pages.loginModel
@{

}
<div class="form">
    <h2>اطلاعات خود را وارد نمایید</h2>
    <form method="post">
        <label for="username">نام کاربری</label>
        <input type="text" name="username" id="username"/>
        <label for="password">رمز عبور </label>
        <input type="password" name="password" id="password" />
        <button type="submit">ورود</button>
    </form>
</div>